<h3>惠尔简介</h3>
<p>深圳市惠尔光学材料有限公司成立于2005年5月18日，专业生产、销售光学镀膜材料,我们引进韩国技术。所有产品都经过严格测试,该产品应用于眼镜、玻璃、光学、通讯、航天等多个领域。公司本着诚信经营、服务大众的宗旨，竭诚为广大新老客户提供优质的产品和服务。 本公司主要产品有: </p>
<p class="text-info">光学镀膜材料（纯度：99.9%-99.9999%）</p> 
  <ul>
  <li> <strong>氧化物：</strong>一氧化硅SiO，二氧化铪HfO2，二氧化锆ZrO2，二氧化钛TiO2，一氧化钛TiO，二氧化硅SiO2，三氧化二钛Ti2O3，五氧化三钛Ti3O5，五氧化二钽Ta2O5，五氧化二铌Nb2O5，三氧化二铝Al2O3，三氧化二钪Sc2O3，三氧化二铟In2O3，二氧化铈CeO2，氧化镁MgO，三氧化钨WO3，氧化钐Sm2O3，氧化钕Nd2O3，氧化铋Bi2O3，氧化镨Pr6O11，氧化锑Sb2O3，氧化钒V2O5，氧化镍NiO，氧化锌ZnO，氧化铁Fe2O3，氧化铬Cr2O3，氧化铜CuO等。</li> 
  <li> <strong>氟化物：</strong>氟化镁MgF2，氟化镱YbF3，氟化钇YF3，氟化镝DyF3，氟化钕NdF3，氟化铒ErF3，氟化锶SrF2，氟化钐SmF3，氟化钠NaF，氟化钡BaF2，氟化铈CeF3，氟化铅等。 4. 混合料：氧化锆氧化钛混合料，氧化锆氧化钽混合料，氧化钛氧化钽混合料，氧化锆氧化钇混合料，氧化钛氧化铌混合料，氧化锆氧化铝混合料，氧化镁氧化铝混合料，氧化铟氧化锡混合料，氧化锡氧化铟混合料，氟化铈氟化钙混合料等混合料。</li> 
  <li> <strong>金属类：</strong>高纯铝丝（5N）Al，高纯铝粒Al、高纯铝片Al、高纯铝柱、高纯铬粒、高纯铬粉。韩国产的五氧化二钽Ta2o5、五氧化三钛Ti3O5、三氧化二铝Al2O3、氟化镁MgF2、防水药、二氧化锆ZrO2、二氧化钛TiO2、二氧化硅SiO2等产品。我公司还销售单晶硅靶、多晶硅靶、镍靶、铝靶、锆靶、铬靶、钛靶、各种合金靶材、各种氧化物靶材。以及一些光学辅料，包括抛光粉、抛光液等。 </li> 
</ul> 
<p class="text-info">我公司自主研发的单晶氧化镁产品，具有纯度高，结晶好。可生产直径大于2英寸的圆片。由于单晶氧化镁在微波波段的介电常数及损耗小，因此广泛用作铁电薄膜、磁学薄膜、高温超导薄膜的基片。欢迎广大新老客户惠顾。</p> 


