<h3>联系我们</h3>
<dl class="dl-horizontal">
  <dt>电话</dt>
  <dd>86 0755 89957038/89957468/89957322</dd>
  <dt>移动电话</dt>
  <dd>13923705296</dd>
  <dt>传真</dt>
  <dd>86 0755 89957422</dd>
  <dt>地址</dt>
  <dd>中国 广东 深圳市 深圳市龙岗区坂田街道五和南路景丰大厦1103</dd>
  <dt>邮编</dt>
  <dd>518112</dd>
  <dt>公司主页</dt>
  <dd><%= link_to '阿里巴巴', 'http://szhuier518.cn.alibaba.com/' %></dd>
</dl>


